<% provide(:title, 'All users') %>
<H1>List of users</H1>
<% if flash[:success] %>
  <div class='alert alert-success' >
    <p>You have successfully delete a user</p>
  </div>
<% end %>
<h3><%= @users.length%> users</h3>
<ul>
  <%= render @users %>
</ul>